body{
background-color: rgb(22, 37, 33);
}

.buttonGrid{
    margin: auto;
    display: inline-flexbox;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
    max-width: 200px;
    
}
.button{
    cursor: pointer;
    background-color: inherit;
    border: 2px solid #AEF938;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
}

.button:hover{
    background-color: #AEF938;
    border: 2px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(22, 37, 33);
}