<!DOCTYPE html>
<html>
<head>
    <title>Data for Device {{ device_id }}</title>
</head>
<body>
    <h1>Data for Device {{ device_id }}</h1>
    <table>
        <thead>
            <tr>
                <th>CO2</th>
                <th>AirTemp</th>
                <th>AirHumid</th>
                <th>LED</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
