<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <div class="buttonGrid">
            <img src="{{ url_for('static', filename='/icons8-haze.gif') }}" id = 'co2button' alt="CO2" width='100' height='100'>

            <button type="submit" class="button">PRESS</button>
            <br>
            <button type="submit" class="button">PRESS</button>
            <br>
            <button type="submit" class="button">PRESS</button>
            <br>
            <button type="submit" class="button">PRESS</button>
        </div>
       
        
    </body>
</html>